body{
    color: #666;
    font-family: helvetica, Arial, Sans-Serif;
    margin: 0 auto;
    padding-top: 15px;
}

p{
    line-height:26px;
    font-size:18px;
    font-family: georgia;
    margin-top:30px;
    
}

h1{
    font-size: 45px;
    color: black;
    font-family: hoefler text;
    font-weight: 600;
}

h2{
    color: #FF5443;
    font-family:georgia;
    font-size: 11px;
    font-weight: 700;
    line-height: 1px;
    margin: 0;
}

h3{
    color:#666;
    font-family:arial;
    font-size: 11px;
    letter-spacing: .5px;
    line-height: 1px;
    margin:0;
}

.name
{
    font-weight: bold;
    font-size: 1.25em;
    color: #56A0D3;
}

ul{
    list-style-type: none;
}



a:hover{
    color:blue;
}

.navbar-inverse{
    background-color:#282828;
    height:40px;
}

.navbar-inverse .navbar-nav>li>a{
    color:white;
}

.navbar-inverse .navbar-nav>li>a:hover{
    background-color:#4591b9;
}

.navbar-nav{
    font-family: arial, sans-serif;
    font-size:11px;
    color:white;
    
}


.navbar{
    border-radius:0px;
    margin-top:-15px;

}

.navbar-toggle{
    float:left;
    margin-right:0px;
    margin-left: -15px;
    padding-bottom:10px;
    padding-top:6px;
    border:none;
    padding-right:0px;
}

.navbar-brand{
    min-width:170px;
    background-image: url('latimes-logo.png');
    background-position: center;
    background-repeat: no-repeat;
    margin-right:0px;
    margin-left:10px;
}

@media(min-width:768px){
    .container{
       width:1170px;
   }   
}

.navbar-toggle .icon-bar {
    height:4px;
    width:25px;
    border:none;

}